<h1>Check Your Mails Here</h1>
<hr>
<app-loader *ngIf="isLoading"></app-loader>
<div *ngIf="!isLoading" class="mytable">
  <table class="table table-hover ">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Mobile No.</th>
      <th scope="col">Email-Id</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let query of queries; let i = index">
      <th scope="row">{{ i+1 }}</th>
      <td>{{ query.name }}</td>
      <td>{{ query.mobileNo }}</td>
      <td>{{ query.emailId }}</td>
      <td><button type="button" class="btn btn-outline-primary" (click)="onShowDescription(query.description)">Get Details</button></td>
    </tr>
  </tbody>
</table>
</div>

<app-modal
  *ngIf="showDescription"
  [title]= "'Query Description:-'"
  [body] = "queryDescription"
  (okay)="showDescription = false"
  (cancel)="showDescription = false"
  (cross)="showDescription = false">
</app-modal>
